{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Music Stream{% endblock %}</title>
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    </head>
    <body class="flex flex-col bg-neutral-950 min-h-screen h-full">
        <!-- Обертка с отступами -->
        <div class="flex-1 flex w-full p-4 gap-4 h-full">
            <!-- Навигация -->
            <div class="flex flex-col h-full w-full md:w-64">
                {% include "partials/navbar.html" %}
            </div>

            <!-- Основной контент: исправленный контейнер -->
            <div class="flex-1 flex flex-col min-h-0 h-full">
                <main class="flex-1 min-h-0 border border-gray-500 bg-zinc-950 rounded-2xl overflow-auto">
                    {% block content %}{% endblock %}
                </main>

                <!-- Контейнер для плеера - прижат к низу -->
                <div class="mt-auto pt-4 sticky bottom-0 bg-zinc-950 z-10">
                    {% if user.is_authenticated %}
                    {% include "partials/player.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Уведомления (Toasts) -->
        {% include "partials/messages.html" %}
        <script src="{% static 'js/player.js'  %}"></script>
    </body>
</html>