{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Create New Album</h2>
<form method="post" enctype="multipart/form-data" id="album-form">
    {% csrf_token %}

    <!-- Album Form -->
    {{ album_form.as_p }}

    <!-- Tracks -->
    <h3>Tracks</h3>
    <div class="form-group">
        {{ form.position.label_tag }}
        {{ form.position }}
        {% if form.position.errors %}
        <div class="text-danger">
            {% for error in form.position.errors %}
            <small>{{ error }}</small>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div id="track-forms-container">
        {{ track_formset.management_form }}
        {% for form in track_formset %}
        <div class="track-form">
            {{ form.as_p }}
            <button type="button" class="remove-track">Удалить</button>
        </div>
        {% endfor %}
    </div>
    <button type="button" id="add-track">+ Добавить трек</button>

    <button type="submit">Create Album</button>
</form>

<!-- Скрытый шаблон для новых форм -->
<div id="empty-form" style="display:none;">
    <div class="track-form">
        {{ track_formset.empty_form.as_p }}
        <button type="button" class="remove-track">Удалить</button>
    </div>
</div>

<script src="{% static 'js/create_album.js' %}"></script>

{% endblock content %}